.button {
  border-radius: 3px;
  background-color: var(--azure);
  padding: 1rem;
  margin-left: 4rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.h2 {
  padding: 1rem 0;
  margin-left: 4rem;
  color: var(--red);
}
